<div class="container">
  <h1>
    {{title}}
  </h1>
  <div class="btn-group btn-group-lg" role="group" aira-label="buttons">
    <button class="btn btn-primary" (click)="getAllTransactionsData()">Load all transactions</button>
    <button class="btn btn-primary" (click)="getAllTransactionsData(true)">Ignore donut</button>
    <button class="btn btn-primary" (click)="getProjectedTransactionsForMonth()">Crystall Ball</button>
  </div>
  <div *ngIf="status" class="well">{{status}}</div>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Date</th>
          <th>Spend</th>
          <th>Income</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of tableData; let i = index;">
          <td>{{item?.time}}</td>
          <td>${{item?.spent}}</td>
          <td>${{item?.earn}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
